* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #f4f4f4;
}

.navbar {
  background-color: #333;
  padding: 1rem;
  text-align: left;
}

.navbar a button {
  background-color: #4b4bba;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  width: 80%;
  margin: 2rem auto;
  padding: 2rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

header {
  text-align: center;
}

.tabs {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tab {
  flex: 1;
  padding: 10px;
  background: #ddd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.tab.active {
  background: #4b4bba;
  color: white;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

input,
select,
button {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="button"] {
  background-color: #4b4bba;
  color: white;
  border: none;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #37379c;
}

.result {
  font-weight: bold;
  margin-top: 10px;
}
